doctype 5 html.no-js
html(lang='en')
  head
    link(rel='stylesheet', type='text/css', href='assets/stylesheets/normalize.css')
    script(src='assets/javascript/modernizr.custom.12492.js')
    link(rel='stylesheet', type='text/css', href='assets/stylesheets/base.css')
    link(href='http://fonts.googleapis.com/css?family=Smythe', rel='stylesheet', type='text/css')
- var bodyClass = '';
block vars
body(id='#{bodyClass}')
 #container
  #brand_box
    nav
      a#homeCurrent(href='it_lives.html') HOME 
      a#rulesCurrent(href='rules_and_undeadlines.html') RULES
      a#categoriesCurrent(href='#') CATEGORIES
      a#submitCurrent(href='#') SUBMIT
      a#eventCurrent(href='event.html') EVENT
      a#judgesCurrent(href='judges.html') JUDGES
      a#winnersCurrent(href='#') WINNERS
    div
      block hero
  #content
    block content
  footer
    #copyright
      | &copy;2013 4A&apos;s. All Rights Reserved
    #adcp 
        img(src='assets/images/ADCP.png', alt='ADCP', height='87', width='57', style= "float:right")
    #a
        img(src='assets/images/4A.png', alt='4 A"s', height='61', width='82', style= "float:right")