doctype 5
html(lang='en')
  head
    link(rel='stylesheet', type='text/css', href='assets/stylesheets/base.css')
body
 #container
  #brand_box
    nav
      a(href='it_lives.html') HOME 
      a(href='rules_and_undeadlines.html') RULES
      a(href='#') CATEGORIES
      a(href='#') SUBMIT
      a(href='event.html') EVENT
      a(href='judges.html') JUDGES
      a(href='#') WINNERS
    div
      block hero
  #content
    block content
  footer
    #copyright
      | &copy;2013 4A&apos;s. All Rights Reserved
    #adcp 
        img(src='assets/images/ADCP.png', alt='ADCP', height='87', width='57', style= "float:right")
    #a
        img(src='assets/images/4A.png', alt='4 A"s', height='61', width='82', style= "float:right")