extends _layout
block vars
  - var bodyClass = 'event';
block hero
      img(src='assets/images/brand_box_event.png', alt='It"s not in the budget', height='497', width='983')
    block content
    .map
      iframe(width='399', height='391', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=19+S+22nd+St,+Philadelphia,+PA&aq=0&oq=19&sll=41.117935,-77.604698&sspn=8.844675,10.469971&ie=UTF8&hq=&hnear=19+S+22nd+St,+Philadelphia,+Pennsylvania+19103&t=m&ll=39.953175,-75.176611&spn=0.025726,0.034332&z=14&output=embed')smalla(href='https://maps.google.                                                                      com/maps?f=q&source=embed&hl=en&geocode=&q=19+S+22nd+St,+Philadelphia,+PA&aq=0&oq=19&sll=41.117935,-77.604698&sspn=8.844675,10.469971&ie=UTF8&hq=&hnear=19+S+22nd+St,+Philadelphia,+Pennsylvania+19103&t=m&ll=39.953175,-75.176611&spn=0.025726,0.034332&z=14')
    .bar
      img(src='assets/images/bar.png', height='476', width='9') 
    .leftContent
      h1 The Wake
      p.details
        | Join us at the 
        span The M&uuml;tter Museum
        on 10.24.12, when the dead will be
        br 
        | brought back to life. All submissions will be on display. But otherwise,
        br
        | everything's between you, the judges, and the ghosts of ideas past.
        br
        br
        | 6:00 - 10:00 pm
        br
        Award Show Keynote Speaker: 
        span To be announced
        br
        | Beer, Wine, & Appetizers 
        br
        br
        | The M&uuml;tter Museum of The College of Physicians of Philadelphia
        br
        | is 
        span located at 19 South 22nd Street, Philadelphia, PA.
        br
        br
        | Tickets to the award show are avaliable for purchase 
        span here.
        br
        br
        | You will also receive one complimentary ticket with each entry.
        br
        br
        | Space is limited so be sure to get your entry or tickets before
        br
        | they're all gone.
        br


    