extends _layout
block vars
  - var bodyClass = 'home';
block hero 
      img(src='assets/images/brand_box_home.png', height='497', width='983')
  block content
    .facebook
      a(href='https://www.facebook.com/events/393347694064886', target='_self')
        img(src='assets/images/facebook.png', alt='Facebook', height='471', width='283', style='float: right;')
        img(src='assets/images/bar_big.png', height='575', width='9', style='float: right;')
    .homeContent
      h1 Your client thought they killed it.
         br
         | But for one night... it lives.
      p.butcher
        | Butchered by the client. Strangled by the focus group. Decapatated by the lawyers. 
        br
        | Poisoned by the client's wife or husband. Put on ice for the infamously fictitious
        br
        |"phase two".
        br
        br
        | There are so many ways for good work to die before its time. 
        strong The Dead Work Awards
        br
        | celebrates the ideas you poured your soul into, only to have your killer idea mercilessly
        br
        | killed. This is your chance to resurrect those ideas.
        br
        br
        | The awards are open to all creative professionals in the Philadelphia region. The show,
        br
        | which is more of a wake actually, will be held at The M&uuml;tter Museum on 
        strong 10.24.13.
        br
        br
        | Visit the 
        span Rules and Undeadlines 
        page for entry details.
        br
        br
        | Entry deadline has been extended to 
        strong 10.4.13 
        | at 
        strong 6pm.
      .submit  
        img(src='assets/images/submit.png', alt='submit', height='75', width='624', style='float: left;')
      
     
