extends _layout
block vars
  - var bodyClass = 'rules';
block hero
  img(src='assets/images/brand_box_rules.png', height='497', width='983')

block content
  h1 Rules and Undeadlines
  h2 Bring Out Your Dead
  p
    | Your work will be judged by some of the industry&apos;s top creative minds &mdash; folks who know how to spot an idea that died prematurely.
    br
    | We&apos;re basically looking for the most unjustly killed thinking &mdash; work that makes us jealous and inspired.
  h2 Eligibility
  p
    | The Dead Work Awards are open to all creative professionals in the Philadelphia region.
    br
    br
    | All entries must be for real, paying clients. We will accept a limited amount of entires for work that was done in spec for an RFP
    br
    | or for a pro&ndash;bono client, but we strongly encourage entering work that was done for actual clients.
    br
    | To qualify, the idea must never have been produced. The ad can&apos;t have ever run, and never will. The dead work has to be fully deceased.
    br
    br
    | Work must have shaken off the mortal coil some time between October 12, 2012 and October 12, 2013.
  h2 Undeadlines and Entry Fee
  p
    | Award submissions open
    span  9.12.13. 
    br
    br
    | You&apos;ll have until
    span  6pm on 10.04.13 
    | to try and resurrect your work.
    br
    br
    | Entries fee: $50 per entry. Each individual entry will be eligible for one free ticket to the Dead Awards Show. In other words, each paid
    br
    | submission comes with one ticket to the event. Tickets for the event will also be on sale, naturally. And don&apos;t worry, it won&apos;t be a typical
    br
    | local awards show.
