@import "compass";


body {
  background: #000 url('../images/bg.png') repeat-x;
  margin: 0;
  padding: 0;
  font-family: serif;
}

#container {
  background: #000;
	width: 985px;
	height: 100%;
	text-align: center;
	position: relative;
  margin: 0 auto;
  padding-top: 72px;
}

#brand_box {
	text-align: center;
	padding-bottom:20px;
}

nav {
	text-align: center;
	padding-bottom: 10px;
	a {
    display: inline-block;
    min-width: 91px;
		color: white;
		text-decoration: none;
		padding: 18px 20px 25px 0px
	}
}

a:hover {
  background: url('../images/florish_nav.png') no-repeat;
  color: #fd8329;
}

body#home a#homeCurrent,
body#rules a#rulesCurrent,
body#categories a#categoriesCurrent,
body#submit a#submitCurrent,
body#event a#eventCurrent,
body#judges a#judgesCurrent,
body#winners a#winnersCurrent {
  color: #a9a841;
}

h1 {
	color: #a9a841;
  margin: 0;
}

h2 {
	text-decoration: underline;
}

p, h2, {
	color: white;
  width: auto;
}

span {
	color: #fd8329;
}

#content {
  text-align: left;
  @include legacy-pie-clearfix;
}

.eventContent {
  float: left;
  width: auto;
}

.homeContent {
  float: left;
  width: 661px;
}

footer {
    @include legacy-pie-clearfix;
  	border-top: 1px solid;
  	color: #4b4b4d;
  	bottom:15px;
  	width: 100%;
  	padding: 20px 0;
  	margin-top: 55px;
    text-align: left;
    #copyright {
      color: white;
      margin: 0px;
    }

    #a {
      float: right;
      margin-right: 40px;
      padding-top:15px;
    }
}

#keynote {
  padding-top: 45px;
  padding-bottom: 100px;
  float: left;
}

.details {
  padding-bottom: 35px;
  width:448px;
}

.facebook {
  margin-top: -40px;
  padding-right:7px;
  float: right;
  border: 0px;
}

.map {
  margin-top: 7px;
  padding-right:7px;
  float: right;
}

.bar  {
  margin-top: -36px;
  padding-right:20px;
  float: right;
}

.submit {
  margin-bottom: 132px;
  padding-top: 34px;
  img {
    box-shadow: 0px 0px 20px #808080;
    border-radius: 20px;
  }
}





